.blue{
    background-color: blue;
}
.yellow{
    background-color: yellow;
}
.red{
    background-color: red;
}
.lightblue{
    background-color: lightblue;
}

.box{
    width: 20%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}